@font-face {
  font-family: boldFont;
  src: url('../fonts/Font_Hind_Madurai/HindMadurai-Bold.ttf');
}
@font-face {
  font-family: lightFont;
  src: url('../fonts/Font_Hind_Madurai/HindMadurai-Light.ttf');
}
@font-face {
  font-family: mediumFont;
  src: url('../fonts/Font_Hind_Madurai/HindMadurai-Medium.ttf');
}
@font-face {
  font-family: regularFont;
  src: url('../fonts/Font_Hind_Madurai/HindMadurai-Regular.ttf');
}
@font-face {
  font-family: SemiBoldFont;
  src: url('../fonts/Font_Hind_Madurai/HindMadurai-SemiBold.ttf');
}
.textBlack{
  color: #000;
}
.boldFont {
  font-family: boldFont;
}
.lightFont {
  font-family: lightFont;
}
.mediumFont {
  font-family: mediumFont;
}
.regularFont {
  font-family: regularFont;
}
.SemiBoldFont {
  font-family: SemiBoldFont;
}

/* font end */

body {
  background-color: #d6efff !important;
}

.ProfileImg img.user-img-radious-style {
  width: 50px;
}

.main-sidebar {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #022333;
  z-index: 880;
  left: 0;
}

.bbbUN.text-white {
  font-size: 16px;
  font-weight: 100;
}
.colorUser {
  color: #60686f;
}
.nohoverUser:hover {
  background-color: #022333;
}

.main-sidebar .sidebar-menu li a:hover {
  background-color: #022333;
}
.bgSidebar {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  /* padding: 0 20px; */
  width: 100%;
  letter-spacing: 0.3px;
  color: #60686f;
  font-weight: 600;
  text-decoration: none;
  background-color: #123140;
  margin-left: 30px;
  border-radius: 10px;
}
.searchBaricon {
  padding-right: 0px;
  position: relative;
  right: -15px;
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
}


.searchBarBorder {
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    width: 409px !important;
    /* font-size: 32px !important; */
    font-family: 'lightFont';
}
a.AnchorDashboard {
  color: #0084cd !important;
}

span.panelClass {
  font-weight: 800;
      color: #000;
}
img.saqure-img {
  border-radius: 10px !important;
  width: 83px !important;
  /* height: 50px !important; */
}
.mainTableClass th {
  color: #827b7d;
}
.mainTableClass td {
  color: #827b7d;
}

.ApproveColor {
  color: #2df127;
  font-weight: 800;
}

.SubmittedColor {
  color: #ffba5f;
  font-weight: 800;
}
.unapproveColor {
  color: red;
  font-weight: 800;
}

.radiusBtn {
  border-radius: 30px;
  width: 78px;
  padding: 1px 2px;
}
h4.projSubH {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding-top: 0px;
  margin-bottom: 0px;
}
p.topList {
    margin-bottom: 0px;
    font-size: 12px;
    font-family: 'regularFont';
}
p.topListTwo {
    font-size: 11px;
    line-height: 16px;
    font-family: 'lightFont';
    margin-bottom: 8px;
}
.posArrow {
    position: absolute;
    bottom: 12px;
    right: 16px;
    background-color: #0000003d;
    width: 27px;
    height: 27px;
    border-radius: 24px;
}
.innerArrowPos {
       position: absolute;
    left: 8px;
    top: 1px;
}
.outerArrowPos {
  position: relative;
}
.projSub {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(19, 156, 150, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px 15px;
  border-radius: 10px;
  color: white;
  position: relative;
}

.paymentPanel {
  background: rgb(210, 142, 83);
  background: linear-gradient(
    90deg,
    rgba(210, 142, 83, 1) 0%,
    rgba(254, 172, 100, 1) 50%,
    rgba(255, 173, 101, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  color: white;
  position: relative;
}

.investmentPanel {
  background: rgb(0, 105, 163);
  background: linear-gradient(
    90deg,
    rgba(0, 105, 163, 1) 19%,
    rgba(0, 130, 202, 1) 49%,
    rgba(0, 132, 205, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  color: white;
  position: relative;
}
.innerArrowPos .fa-arrow-right {
    transform: rotate(-35deg);
    color: white;
    font-size: 11px;
}

.innerArrowPos .fa-arrow-right:hover {
  transform: rotate(0deg);
  color: white;
}

.Show_all button {
    background-color: white !important;
    color: #000 !important;
    width: 131px;
    height: 37px;
    box-shadow: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 15px -7px #000000;
    box-shadow: 0px 0px 15px -7px #000000;
        font-family: 'SemiBoldFont';
}

.Show_all button .dropdown-toggle::after {
  display: inline-block;
  margin-left: 2.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  padding-top: -15px;
}
.status_p {
  color: #00000052;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 12px;
  font-family: 'SemiBoldFont';
}
.card .card-header h4 {
    font-size: 14px;
    line-height: 28px;
    padding-right: 10px;
    margin-bottom: 0;
    color: #212529a8;
    font-family: 'SemiBoldFont';
}
button.btn.btn-primary.hover_btn_sort.dropdown-toggle:hover {
  background-color: #fff !important;
}
a.AnchorDashboard {
  color: #57b1e3 !important;
      font-family: 'SemiBoldFont';
}
p.lightFontWellcome {
    font-family: 'regularFont';
    color: #000;
}
.projWallet {
  background: rgb(0, 105, 163);
  background: linear-gradient(
    90deg,
    rgba(0, 105, 163, 1) 19%,
    rgba(0, 130, 202, 1) 49%,
    rgba(0, 132, 205, 1) 100%
  );
  padding: 20px 20px;
  border-radius: 10px;
  color: white;
  position: relative;
  max-height: 370px;
}
h4.walletH {
  font-size: 16px;
}

.posWallet {
  margin-top: 60px;
}

.max_height_table {
  max-height: 318px;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e1f0fb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-content {
    padding-left: 280px;
    padding-right: 30px;
    padding-top: 110px !important;
    width: 100%;
    position: relative;
}
.basic {
    
  background: transparent;
  color: #156fb4;
  border: solid 1px #156fb4;
    padding: 23px 20px;
    border-radius: 15px;
    margin: 16px;
        max-width: 300px;
}
button.btn.btnPayStripe:hover {
    background-color: #0184cc !important;
    /* background-color: #000; */
    transform: scale(1.1) perspective(1px);
    color: white;
}
.btnpersonal:hover{
 transform: scale(1.1) perspective(1px);
     background-color: #0184cc !important;
     color: white;
}
.BackBtn {
    font-family: 'mediumFont';
    color: #378abf !important;
    font-size: 13px;
}
 ul.ul_lorem_Mainn li {
  color: #156fb4;
}
ul.ul_lorem_Mainn li::before {
  color: #156fb4;
}
#basic h2 {
  color: #156fb4;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul.ul_lorem_Mainn li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  /* color: #156fb4;  */
  color: #156fb4;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
ul.ul_lorem_Main li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  /* color: #156fb4;  */
  color: #fff;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

h2.basicH {
  color: white;
  font-size: 17px;
  margin-bottom: 15px;
}
/* start silver */

.Silver {
  background: rgb(0, 105, 163);
  background: linear-gradient(
    90deg,
    rgba(0, 105, 163, 1) 19%,
    rgba(0, 130, 202, 1) 49%,
    rgba(0, 132, 205, 1) 100%
  );
    padding: 23px 20px;
    border-radius: 15px;
    margin: 16px;
        max-width: 300px;
}

ul.ul_lorem_Main li {
  color: white;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 17px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul.ul_lorem_Main li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  /* color: #156fb4;  */
  color: #fff;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}


/* end silver */

/* start silver */

.gold {
  background: rgb(0, 105, 163);
  background: linear-gradient(
    90deg,
    rgba(0, 105, 163, 1) 19%,
    rgba(0, 130, 202, 1) 49%,
    rgba(0, 132, 205, 1) 100%
  );
    padding: 23px 20px;
    border-radius: 15px;
    margin: 16px;
        max-width: 300px;
}

ul.ul_lorem_Main li {
  color: white;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 17px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul.ul_lorem_Main li::before {
  content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  /* color: #156fb4;  */
  color: #fff;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}



/* end gold */

.gold {
  background: rgb(210, 142, 83);
  background: linear-gradient(
    90deg,
    rgba(210, 142, 83, 1) 0%,
    rgba(254, 172, 100, 1) 50%,
    rgba(255, 173, 101, 1) 100%
  );
}
button.btn.btnPayStripe {
  width: 110px;
  background-color: white;
  color: #0184cc;
  border-radius: 40px;
  margin-top: 5px;
}
.btnpersonal {
    width: 115px;
    font-size: 12px;
    font-weight: 100;
    background-color: #0084cd !important;
    border-radius: 100px;
    color: white;
}
.btnAttach{
  background-color: transparent;
    /* border-color: transparent !important; */
    /* color: #fff; */
    width: 115px;
    font-size: 12px;
    font-weight: 100;
    border-radius: 100px;
    border: solid 1px #0084cd;
    color: #0084cd;

}
h6.AttachLoi {
    font-family: 'lightFont';
    font-size: 17px;
    color: #000;
    letter-spacing: 1px;
}
.chooseFile {
    padding: 7px 20px;
    background: transparent;
    border: 1px solid #0084cd;
    position: relative;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor: pointer;
    border-radius: 30px;
    color: #0084cd;
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
    
}


.fontSideNav span{
color: #beb4b4  !important;
}

.bbb {
    color: #60686f;
}
#footer.stikybottom {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}

.Personal {
    font-size: 20px;
    margin-bottom: 35px;
}
.fontInputCompany{
  font-size: 12px !important;
  background: rgb(255 255 255 / 70%);
      border-radius: 7px;
}
.disc_p p {
    /* font-weight: 700; */
    color: #000;
    line-height: 23px;
    font-size: 15px;
    /* letter-spacing: 1px; */
}
.fs_Radio {
    font-size: 15px;
}


.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    font-family: regularFont;

    padding: 0 25px;
    height: 60px;
    vertical-align: middle;
    font-size: 11px;
    color: #212529a8;
}
.thborderUpDown {
    border-top:  solid 1px rgb(0 0 0 / 13%);
        border-bottom: solid 1px rgb(0 0 0 / 13%);

}
.dropdown-toggle::after {
    display: inline-block;
    /* margin-left: 3.255em; */
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    right: 10px;
    top: 17px;
}
button.btn.btn-primary.hover_btn_sort.dropdown-toggle:focus {
    background-color: #fff !important;
}

@media only screen and (max-width: 600px) {
  .mob_mt_2 {
    margin-top: 2rem;
  }
}
